#extensionBody {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contactLinkText {
    margin-left: 4vw;
    margin-right: 4vw;
    
}