body {
    display: block;
    margin: 0;
    padding: 0.75vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-size: cover;
    background-position: cover;
    transition: background-image 3s ease-in-out;
}

#navBar {
    border-radius: 0.75vw;
    margin-left: 0.75vw;
    margin-right: 0.75vw;
    height: 5vw;
    padding-left: 2vw;
    padding-right: 5vw;
    text-align: center;
    justify-content: space-between;
    background-color: rgb(255, 155, 155);
    align-items: center;
    display: flex;
    padding-left: 2vw;
    padding-right: 5vw;
}

#logo {
    height: 4.5vw;
    cursor: pointer;
}

#linksNav {
    justify-content: space-between;
}

.navLink {
    padding: 0 2vw;
    text-decoration: none;
    color: black;
    font-size: 1.75vw;
    transition: transform 0.35s ease;
    display: inline-block;
}

.navLink:hover {
    transform: scale(1.1);
}

#productsButton {
    background-color: white;
    border-radius: 0.5vw;
    border: none;
    transition: 0.35s ease;
}

#productsButton:hover {
    transform: scale(1.1)
}

@media (max-width: 768px) and (orientation: portrait) {
        body {
            padding-top: 2vw;
        }
        #navBar {
            height: 16vw;
            padding-right: 3vw;
            border-radius: 2vw;
            margin-left: 2vw;
            margin-right: 2vw;
        }

        #logo {
            height: 10vw;
        }

        .navLink {
            font-size: 5vw;
            padding: 0 3vw;
        }

        #productsButton {
            border-radius: 1vw;
        }
    }
