{% extends "layout.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'register.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% if sucess %}
        <div class="message">
            <h2>{{ sucess }}</h2>
        </div>
    
    {% elif error %}
        <div class="message">
            <h2>{{ error }}</h2>
        </div>
    {% endif %}

    <div class="enterDiv">
        <form action="login" class="enterForm" method="POST">
            {% csrf_token %}
            <div class="formDiv">
                <input autofocus class="enterInput" type="text" name="username" placeholder="Nome">
                <input class="enterInput" type="password" name="password" placeholder="Senha">
                <input class="enterSubmit" type="submit">
            </div>
        </form>
    
        <p class="bottomText">Ainda não tem uma conta? Crie uma <a href="register">aqui!</a></p>
    </div>
{% endblock %}